cmake-build-debug
cmake-build-release
.idea
.build
.vscode
build
bin/*
bin/out.bbts
bin/node_main
bin/print_commands
bin/test*
bin/generate*
bin/tra_sub_sys_barbatos
lib/lib*
*.bbts
.cache
tmp.*
*.nvprof
*.nvvp
libraries