[submodule "third_party/cli"]
	path = third_party/cli
	url = https://github.com/daniele77/cli.git
[submodule "third_party/einkorn"]
	path = third_party/einkorn
	url = https://github.com/dcbdan/einkorn
[submodule "third_party/fastor"]
	path = third_party/fastor
	url = https://github.com/romeric/Fastor.git
